<div class="container" style="width:50%;">
  <h2>Admin</h2>
  <table class="table table-striped">
    
    <tbody>
      <tr>
        <td><%= link_to "Meal plans", admin_mealplans_path%>&nbsp;<span class="badge"><%#=@no_mealplans%></span></td>
      </tr>
      <!--<tr>-->
      <!--   <td><%#= link_to "Customers", admin_customers_path%>&nbsp;<span class="badge"><%#=@no_customers%></span></td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--   <td><%#= link_to "Chefs", admin_chefs_path%>&nbsp;<span class="badge"><%#=@no_chefs%></span></td>-->
      <!--</tr>-->
      <tr>
         <td><%= link_to "Invoices", admin_invoices_path%>&nbsp;<span class="badge"><%=@no_invoices%></span></td>
      </tr>
    </tbody>
  </table>
</div>
