<div class="container">
  <%= link_to "Admin", admin_path, :class => 'btn btn-default'%> </br>
  <h1>Meal plans admin</h1>
  <%= @no_mealplans %>&nbsp;mealplans. </br>
  <%= link_to "Generate 100 random mealplans", admin_generate_n_ramdom_mealplans_path(100) %> </br>
</div>
