.user-name {
  padding: 0 !important;
  padding-left: 5px;
  padding-top: 13px !important;
  text-align: center;
  
  a {
  color: black !important;
  margin: 0 !important;
  padding: 0px !important;
  }

  a:hover, a:focus {
    color: #000 !important;
  }
}

.logout {
  padding-left: 0;
}

.nav.navbar-right {
  padding-bottom: 10px;
  padding-top: 5px;
  margin-right: -30px;
}

.nav.navbar-nav {
  margin-top: 4px;
  .navbar-link {
    border-radius: 5px;
    color: #fff;
    margin-top: 15px;
    padding: 8px;
  }
  .navbar-link:focus, .navbar-link:hover {
    background: #3071a9;
    color: #fff;
  }
  li a {
    margin-right: 5px;
  }
}

.nav.navbar-right li {
  .btn {
    color: #fff !important;
    margin-top: 5%;
  }
  
  .btn-danger:hover, .btn-danger:focus {
    background-color: darken(#d9534f,15%) !important;
  }
  .btn-primary:hover, .btn-primary:focus {
    background-color: darken(#428bca,15%) !important;
  }
  .btn-success:hover, .btn-success:focus {
    background-color: darken(#5cb85c,15%) !important;
  }
}

.btn-primary:visited, .btn-danger:visited {
  color: #fff;
}

.navbar-brand {
  margin-top: 3px;
}


#indexwrapper {
  // background:#e2e1dd;
  clear: both;
  margin: 0;
  min-width: 314px;
  padding: 10px 0 20px 0;
  width: 100%
}

.post-section {
  float: left;
  width: 301px;
}

.description {
  height: 52px;
  margin: 20px 0px 0px 0px
}

.picture {
  border: 0;
  color: #58595b;
  cursor: pointer;
  font-size: 11px;
  // height: 147px;
  margin-bottom: 3px;
  overflow: hidden;
  position: relative;
  height: 275px;
  width: 275px;
}

.postid {
  float: left;
  font-size: 13px;
  margin-left: 12px;
  width: 195px;
  line-height: 10px;
  padding-bottom: 7px;
  color:#00a63f;
  padding-top: 3px;
}

.submitter {
  float: right;
  font-size: 13px;
  margin-right: 12px;
  text-align: right;
  width: 55px;
  line-height: 10px;
  padding-bottom: 7px;
  color:#00a63f;
  padding-top: 3px;
}

.submitter:hover {
  text-decoration: underline;
}
.card {
  position: block;
  display: inline-block;
  background: #fff;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
  height: 372px;
  width: 275px;
  margin: 13px 26px 13px 0px;
}

.description {
  clear: both;
  color: #626365;
  font-size: 13px;
  height: 80px;
  line-height: 120%;
  margin: 4px 0px 10px 0;
  overflow: hidden;
  padding: 0;
  text-transform: none;
  // font-family: Trebuchet MS;
  height: 64px;
  line-height: 16px;
  margin: 4px 0px 2px 0px;
  padding: 0 12px;
}

.row {
  margin-top: 73px;
}

body {
  background-image: url(https://www.transparenttextures.com/patterns/twinkle-twinkle.png);
  // light-wool
  // mirrored-squares
  // nistri
  // ps-neutral
  // stardust
  // transparent-square-tiles
  // twinkle-twinkle
  background-attachment: fixed;
}

.delete-btn {
  float: right; 
  margin-right: 10px;
}

.logout-btn {
  width: 78px;
}

.new-btn {
  margin-top: 8px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 26px;
  float: right;
  margin-right: 10px;
  margin-top: -6px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: -1px;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .15s;
  transition: .15s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .15s;
  transition: .15s;
}

input:checked + .slider {
  background-color: #5cb85c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00a63f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}